<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yys.szcp.mapper.DbBankRecordMapper">


    <!--添加银行卡记录-->
    <insert id="addBankRecord" parameterType="com.yys.szcp.entity.DbBankRecord">
        insert into db_bank_record (bank_code, flow_money, type, source)
        values (#{bankCode}, #{flowMoney}, #{type}, #{source});
    </insert>


    <!--分页查询银行卡记录列表-->
    <select id="findBankRecordList" resultType="java.util.Map" parameterType="java.util.Map">
        select
        dbbr.id,
        dbbr.bank_code as bankCode,
        dbbr.flow_money as flowMoney,
        dbbr.type as type,
        dbbr.source as source
        from db_bank_record dbbr
        left join db_bank_card dbbc on dbbc.card_code=dbbr.bank_code
        where 1=1
        <if test="roleId=='4a'">
            and dbbc.user_id=#{userId}
        </if>
        order by id DESC
        limit #{page} , #{limit};
    </select>

    <select id="findBankRecordListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*)
        from db_bank_record dbbr
        left join db_bank_card dbbc on dbbc.card_code=dbbr.bank_code
        where 1=1
        <if test="roleId=='4a'">
            and dbbc.user_id=#{userId}
        </if>
    </select>

    <!--通过银行卡记录id 获取银行卡记录-->
    <select id="findBankRecordById" resultType="com.yys.szcp.entity.DbBankRecord" parameterType="java.lang.Integer">
        select id,
               bank_code  as bankCode,
               flow_money as flowMoney,
               type       as type,
               source     as source
        from db_bank_record
        where id = #{loanId}
    </select>


    <!--更新银行卡记录-->
    <update id="updateBankRecord" parameterType="com.yys.szcp.entity.DbBankRecord">
        update db_bank_record
        set bank_code  = #{bankCode}
          , flow_money = #{flowMoney}
          , type       = #{type}
          , source     = #{source}
        where id = #{id}
    </update>

    <delete id="deleteBankRecord" parameterType="com.yys.szcp.entity.DbBankRecord">
        delete
        from db_bank_record
        where id = #{id}
    </delete>

    <!--查询银行卡记录列表-->
    <select id="findBankRecordAllList" resultType="java.util.Map" parameterType="java.util.Map">
        select id,
               bank_code  as bankCode,
               flow_money as flowMoney,
               type       as type,
               source     as source
        from db_bank_record
        where type = #{type}
          and source = #{source}
        order by id DESC;
    </select>

</mapper>