<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yys.szcp.mapper.DbBankCardMapper">


    <!--添加银行卡-->
    <insert id="addBankCard" parameterType="com.yys.szcp.entity.DbBankCard">
        insert into db_bank_card (card_code, user_id, balance, pay_password, card_type, card_time, last_active_time)
        values (#{cardCode}, #{userId}, 0, #{payPassword}, #{cardType}, now(), now());
    </insert>

    <!--分页查询银行卡列表-->
    <select id="findBankCardList" resultType="java.util.Map" parameterType="java.util.Map">
        select dbbc.id,
        dbbc.card_code as cardCode,
        dbbc.user_id as userId,
        adau.admin_fullname as userName,
        dbbc.balance as balance,
        dbbc.pay_password as payPassword,
        dbbc.card_type as cardType,
        dbbc.card_time as cardTime,
        dbbc.last_active_time as lastActiveTime
        from db_bank_card dbbc
        left join db_admin_user adau on adau.id=dbbc.user_id

        where 1=1
        <if test="searchCardCode!=null and searchCardCode !=''">
            and (dbbc.card_code LIKE concat(concat('%',#{searchCardCode}),'%'))
        </if>
        <if test="searchCardType!=null and searchCardType !=''">
            and dbbc.card_type =#{searchCardType}
        </if>
        <if test="roleId=='4a'">
            and dbbc.user_id=#{userId}
        </if>

        order by card_time DESC
        limit #{page} , #{limit};
    </select>

    <select id="findBankCardListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*)
        from db_bank_card dbbc
        where 1=1
        <if test="searchCardCode!=null and searchCardCode !=''">
            and (dbbc.card_code LIKE concat(concat('%',#{searchCardCode}),'%'))
        </if>
        <if test="searchCardType!=null and searchCardType !=''">
            and dbbc.card_type =#{searchCardType}
        </if>
        <if test="roleId=='4a'">
            and dbbc.user_id=#{userId}
        </if>
    </select>

    <!--通过银行卡id 获取银行卡-->
    <select id="findBankCardById" resultType="com.yys.szcp.entity.DbBankCard" parameterType="java.lang.Integer">
        select dbbc.id,
               dbbc.card_code        as cardCode,
               dbbc.user_id          as userId,
               adau.admin_fullname   as userName,
               dbbc.balance          as balance,
               dbbc.pay_password     as payPassword,
               dbbc.card_type        as cardType,
               dbbc.card_time        as cardTime,
               dbbc.last_active_time as lastActiveTime
        from db_bank_card dbbc
                 left join db_admin_user adau on adau.id = dbbc.user_id
        where id = #{loanId}
    </select>


    <!--通过银行卡id 获取银行卡-->
    <select id="findBankCardByCardCode" resultType="com.yys.szcp.entity.DbBankCard">
        select dbbc.id,
        dbbc.card_code as cardCode,
        dbbc.user_id as userId,
        adau.admin_fullname as userName,
        dbbc.balance as balance,
        dbbc.pay_password as payPassword,
        dbbc.card_type as cardType,
        dbbc.card_time as cardTime,
        dbbc.last_active_time as lastActiveTime
        from db_bank_card dbbc
        left join db_admin_user adau on adau.id=dbbc.user_id
        where dbbc.card_code = #{cardCode}
        <if test="id!=null and id!=''">
            and dbbc.id!=#{id}
        </if>
    </select>


    <!--更新银行卡-->
    <update id="updateBankCard" parameterType="com.yys.szcp.entity.DbBankCard">
        update db_bank_card
        set card_code        = #{cardCode}
          , pay_password     = #{payPassword}
          , card_type        = #{cardType}
          , last_active_time = now()
        where id = #{id}
    </update>

    <update id="updateBankCardByCardCode" parameterType="com.yys.szcp.entity.DbBankRecord">
        update db_bank_card
        set balance          = #{flowMoney}
          , last_active_time = now()
        where card_code = #{bankCode}
    </update>


    <delete id="deleteBankCard" parameterType="com.yys.szcp.entity.DbBankCard">
        delete
        from db_bank_card
        where id = #{id}
    </delete>

    <!--查询银行卡列表-->
    <select id="findBankCardAllList" resultType="java.util.Map" parameterType="java.util.Map">
        select dbbc.id,
        dbbc.card_code as cardCode,
        dbbc.user_id as userId,
        adau.admin_fullname as userName,
        dbbc.balance as balance,
        dbbc.pay_password as payPassword,
        dbbc.card_type as cardType,
        dbbc.card_time as cardTime,
        dbbc.last_active_time as lastActiveTime
        from db_bank_card dbbc
        left join db_admin_user adau on adau.id = dbbc.user_id
        where 1=1
        <if test="roleId=='4a'">
            and dbbc.user_id=#{userId}
        </if>


        order by card_time DESC;
    </select>

</mapper>