<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yys.szcp.mapper.DbTestCaseMapper">


    <!--添加任务-->
    <insert id="addTestCase" parameterType="com.yys.szcp.entity.DbTestCase">
        insert into db_test_case (case_no, transaction_name, test_type, desinger_name,
                                  status,input_data,test_procedures,expected_result,
                                  auctual_result,create_time)
        values (#{caseNo}, #{transactionName}, #{testType}, #{desingerName},0,
                #{inputData}, #{testProcedures}, #{expectedResult},#{auctualResult}, now());
    </insert>

    <!--分页查询任务列表-->
    <select id="findTestCaseList" resultType="java.util.Map" parameterType="java.util.Map">
        select
        dbl.id,
        dbl.case_no as caseNo,
        dbl.transaction_name as transactionName,
        dbl.test_type as testType,
        dbl.desinger_name as desingerName,
        dbl.status as status,
        dbl.input_data as inputData,
        dbl.test_procedures as testProcedures,
        dbl.expected_result as expectedResult,
        dbl.auctual_result as auctualResult,
        dbl.create_time as createTime,
        dt.apply,
        dbau.admin_fullname as adminFullname
        from db_test_case dbl
        left join db_task dt on dbl.task_id = dt.id
        left join db_admin_user dbau on dbau.id = dt.test_user_id

        where 1=1
        <if test="roleId=='3a'">
            and dt.test_user_id=#{userId}
        </if>
        <if test="caseNoSearch!=null and caseNoSearch!=''">
            and (dbl.case_no LIKE concat(concat("%",#{caseNoSearch}),"%"))
        </if>
        <if test="applySearch!=null and applySearch!=''">
            and (dt.apply LIKE concat(concat("%",#{applySearch}),"%"))
        </if>
        <if test="desingerNameSearch!=null and desingerNameSearch!=''">
            and (dbl.desinger_name LIKE concat(concat("%",#{desingerNameSearch}),"%"))
        </if>

        order by dbl.create_time DESC
        limit #{page} , #{limit};
    </select>

    <select id="findTestCaseListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*)

        from db_test_case dbl
        left join db_task dt on dbl.task_id = dt.id
        left join db_admin_user dbau on dbau.id = dt.test_user_id

        where 1=1
        <if test="roleId=='3a'">
            and dt.test_user_id=#{userId}
        </if>
        <if test="caseNoSearch!=null and caseNoSearch!=''">
            and (dbl.case_no LIKE concat(concat("%",#{caseNoSearch}),"%"))
        </if>
        <if test="applySearch!=null and applySearch!=''">
            and (dt.apply LIKE concat(concat("%",#{applySearch}),"%"))
        </if>
        <if test="desingerNameSearch!=null and desingerNameSearch!=''">
            and (dbl.desinger_name LIKE concat(concat("%",#{desingerNameSearch}),"%"))
        </if>
    </select>

    <!--通过任务id 获取任务-->
    <select id="findTestCaseById" resultType="com.yys.szcp.entity.DbTestCase" parameterType="java.lang.Integer">
        select
            dbl.id,
            dbl.case_no as caseNo,
            dbl.transaction_name as transactionName,
            dbl.test_type as testType,
            dbl.desinger_name as desingerName,
            dbl.status as status,
            dbl.input_data as inputData,
            dbl.test_procedures as testProcedures,
            dbl.expected_result as expectedResult,
            dbl.auctual_result as auctualResult,
            dbl.create_time as createTime,
            dt.apply,
            dbau.admin_fullname as adminFullname
        from db_test_case dbl
                 left join db_task dt on dbl.task_id = dt.id
                 left join db_admin_user dbau on dbau.id = dt.test_user_id
        where id = #{testCaseId}
    </select>


    <!--更新任务-->
    <update id="updateTestCase" parameterType="com.yys.szcp.entity.DbTestCase">
        update db_test_case
        set case_no              = #{caseNo}
          , transaction_name             =#{transactionName}
          , test_type             =#{testType}
          , desinger_name             =#{desingerName}
          , status             =#{status}
          , input_data             =#{inputData}
          , test_procedures             =#{testProcedures}
          , expected_result             =#{expectedResult}
          , auctual_result             =#{auctualResult}

        where id = #{id}
    </update>


    <delete id="deleteTestCase" parameterType="com.yys.szcp.entity.DbTestCase">
        delete
        from db_test_case
        where id = #{id}
    </delete>

    <!--查询任务列表-->
    <select id="findTestCaseAllList" resultType="java.util.Map" parameterType="java.util.Map">
        select
            dbl.id,
            dbl.case_no as caseNo,
            dbl.transaction_name as transactionName,
            dbl.test_type as testType,
            dbl.desinger_name as desingerName,
            dbl.status as status,
            dbl.input_data as inputData,
            dbl.test_procedures as testProcedures,
            dbl.expected_result as expectedResult,
            dbl.auctual_result as auctualResult,
            dbl.create_time as createTime,
            dt.apply,
            dbau.admin_fullname as adminFullname
        from db_test_case dbl
                 left join db_task dt on dbl.task_id = dt.id
                 left join db_admin_user dbau on dbau.id = dt.test_user_id
        order by dbl.create_time DESC;
    </select>


</mapper>